# Entornos virtuales
.venv/
env/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Variables de entorno
.env

# Archivos de IDE
.vscode/
.idea/
.trae/
project_rules.md

# Logs
*.log

# Base de datos local
*.db
*.sqlite3

